<form [formGroup]="taskAdditionForm" (ngSubmit)="onSave()">
<div class="ui-g-12">
    <div class="ui-g-4 ui-sm-6">Description:
      <span style="color:red">*</span>
    </div>
    <div class="ui-g-8 ui-sm-6">
        <textarea
          pInputTextarea
          [(ngModel)]="desc"
          class='input-style'
          placeholder="Description"
          formControlName="desc"
        ></textarea>
    </div>

    <div class="ui-g-4 ui-sm-12">Priority:
        <span style="color:red">*</span>
    </div>
    <div class="ui-g-8 ui-sm-12">
        <p-dropdown
        [autoWidth]="false"
        [options]="priorities"
        [(ngModel)]="selectedPriority"
        [style]="{'width': '190px'}"
        placeholder='Select Priority'
        formControlName="selectedPriority"
      >
      </p-dropdown>
    </div>

    <div class="ui-g-4 ui-sm-12">Owner:
        <span style="color:red">*</span>
    </div>
    <div class="ui-g-8 ui-sm-12">
        <p-dropdown
        [autoWidth]="false"
        [options]="users"
        [(ngModel)]="newOwner"
        [style]="{'width': '190px'}"
        placeholder='Select Owner'
        formControlName="newOwner"
      >
      </p-dropdown>
    </div>

    <div class="ui-g-4 ui-sm-12">Project:
        <span style="color:red">*</span>
    </div>
    <div class="ui-g-8 ui-sm-12">
        <input
        type="text"
        [(ngModel)]="project"
        pInputText
        placeholder="Project"
        class='input-style'
        formControlName="project"
      >
    </div>

    <div class="ui-g-4 ui-sm-12">Dependencies:</div>
    <div class="ui-g-8 ui-sm-12">
        <input
        type="text"
        [(ngModel)]="depend"
        pInputText
        placeholder="Dependencies"
        class='input-style'
        formControlName="depend"
      >
    </div>

    <div class="ui-g-4 ui-sm-12">Comments:</div>
    <div class="ui-g-8 ui-sm-12">
        <textarea
          pInputTextarea
          [(ngModel)]="comments"
          placeholder="Additional Information"
          formControlName="comments"
          class='input-style'
        ></textarea>
    </div>

    <div class="ui-g-4 ui-sm-12">
        <button
        pButton
        type="submit"
        label="Save"
        class="ui-button-success label-style"
        [disabled]="!taskAdditionForm.valid"
      ></button>
    </div>
    <div class="ui-g-8 ui-sm-12">
        <button
        pButton
        type="button"
        label="Cancel"
        class="ui-button-danger label-style"
        (click)="close();"
      ></button>
    </div>
</div>
</form>
