@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

body{
  background-color:#1d283a;
  color: slategrey;
}

.home_menu{
  border-bottom: 1px solid gray;
  margin-top: 20px;
  margin-bottom: 1px;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 10px
}

.ui-menu{
  height: 650px;
  margin-left: 10px;
}

.ui-menuitem .ui-menuitem-link{
  padding: 10px;
  background-color:#1d283a;
  color: slategray;
}

.task-item{
  border-bottom: 1px solid grey;
  background-color:#1d283a;
  color: slategray;
}

.ui-widget-header .ui-button, .ui-widget-content .ui-button,
.ui-widget.ui-button, .ui-button{
  background-color:slategray;
  color:#1d283a;
  border: 1px solid black;
}

.ui-dropdown .ui-dropdown-panel {
  min-width: 100%;
  width: max-content;
}
