@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

body{
  background-color:#1d283a;
  color: slategrey;
}

.home_menu{
  border-bottom: 1px solid gray;
  margin-top: 20px;
  margin-bottom: 1px;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 10px
}

.ui-menu{
  height: 620px;
  margin-left: 10px;
}

.ui-menuitem .ui-menuitem-link{
  padding: 10px;
  background-color:#1d283a;
  color: slategray;
}

.task-item{
  border-bottom: 1px solid grey;
  background-color:#1d283a;
  color: slategray;
}

.ui-table .ui-table-tbody > tr,
.ui-datatable .ui-datatable-data > tr {
  background:slategrey ;
  color:#1d283a ;
}


.ui-table .ui-table-tbody > tr:nth-child(even),
.ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
  background:darkgray ;
  color:#1d283a ;
}
.ui-table .ui-table-thead > tr > th,
.ui-datatable .ui-datatable-thead>tr>th {
  border: 1px solid #D5D5D5;
  background-color:#1d283a;
  color: slategray;
}

.ui-widget-header {
  border: 1px solid #D5D5D5;
  background:#1d283a;
  color: slategray;
}

.ui-widget-header .ui-button, .ui-widget-content .ui-button,
.ui-widget.ui-button, .ui-button
.ui-datatable .ui-cell-data {
  background-color:slategray ;
  color:#1d283a ;
  border: 1px solid black;
}

.ui-dropdown .ui-dropdown-panel {
  min-width: 100%;
  width: max-content;
}



