<div class="ui-g">
    <div class="ui-g-12 ui-md-2 ui-g-nopad">
        <app-side-bar
        (showAllTasks)='displayAllTasks()'
        (showMyTasks)='displayMyTasks()'
        (showUserView)='showUserView()'
        ></app-side-bar>
    </div>
    <div class="ui-g-12 ui-md-10 ui-g-nopad">

        <div [hidden]="!progressBar"><p-progressBar mode="indeterminate"></p-progressBar></div>

        <div *ngIf="detailedTaskView">
            <app-ptask
            [task]="selectedTask"
            [mode]="mode"
            (showMyTasks)='displayTasks($event)'
          ></app-ptask>
        </div>

        <div *ngIf="userView"><app-users></app-users></div>

        <div *ngIf="taskView">
          <p-table
            [value]="tasks"
            [columns]="cols"
            (onEditComplete)="saveChanges($event)"
            (onEditInit)="initEdit($event)"
            >
            <ng-template pTemplate="header" let-columns>
              <tr>
                  <th
                    *ngFor="let col of columns"
                    [pSortableColumn]="col.field"
                    (click)="resetStatusHead()"
                    [class]="sortOthers"
                  >
                      {{col.header}}&nbsp;&nbsp;&nbsp;&nbsp;
                      <p-sortIcon [field]="col.field" *ngIf="sortStatus === 'UNS'"></p-sortIcon>
                      <span class="fa fas fa-sort" *ngIf="sortStatus != 'UNS'"></span>
                  </th>
                  <th
                  class="cellStyle"
                  (click)="sortOnStatus()"
                  >Status&nbsp;&nbsp;&nbsp;&nbsp;
                  <p-sortIcon [field]='status' *ngIf="sortStatus === 'UNS'"></p-sortIcon>
                  <span class="fa fas fa-sort-up" *ngIf="sortStatus === 'ASC'"></span>
                  <span class="fa fas fa-sort-down" *ngIf="sortStatus === 'DESC'"></span>
                  </th>
                  <th style="width:3em"></th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-task let-columns="columns">
              <tr [class]="'p-row-'+task.priority">
                <td *ngFor="let col of columns">
                      {{task[col.field]}}
                      <sup style="color:red"
                        *ngIf="col.field === 'description'
                        && (task.priority==='Critical'
                        || task.priority==='High')">
                        <i class="fa fas fa-exclamation"></i>
                      </sup>
                </td>
                <td [pEditableColumn]="task" [pEditableColumnField]="task.status">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown
                            [(ngModel)]="status"
                              [options]="statuses"
                            >
                            </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{task.status}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <button pButton
                    icon="fas fa-chevron-circle-right"
                    (click)="showDetailedTask(task)"
                    title="Click for More"
                    >
                    </button>
                </td>
            </tr>
            </ng-template>
        </p-table>
       </div>
</div>
